<%- include('header'); -%>

<body>
    <div class="header" style="color: white;">
        <div class="title">BudgetManagement</div>
    </div>
    <section class="container-main">
        <a href="/raftaar" class="team-budget">
            <div class="cards">
                <div class="card-img raftar"></div>
                <h2 class="title">RAFTAR</h2>
                <p class="quotes">"Life expectancy would grow by leaps and bounds if green vegetables smelled as good as
                    bacon."</p>
                <!-- <a href="vege.html" class="a" target="_blank">EXPLORE</a> -->
            </div>
        </a>

        <a href="/abhiyaan" class="team-budget">
            <div class="cards">
                <div class="card-img abhiyaan"></div>
                <h2 class="title">ABHIYAAN</h2>
                <p class="quotes">"Life expectancy would grow by leaps and bounds if green vegetables smelled as good as
                    bacon."</p>
                <!-- <a href="vege.html" class="a" target="_blank">EXPLORE</a> -->
            </div>
        </a>
        <a href="/anveshak" class="team-budget">
            <div class="cards">
                <div class="card-img anveshak"></div>
                <h2 class="title">ANVESHAK</h2>
                <p class="quotes">"Life expectancy would grow by leaps and bounds if green vegetables smelled as good as
                    bacon."</p>
                <!-- <a href="vege.html" class="a" target="_blank">EXPLORE</a> -->
            </div>
        </a>
        <a href="/avishkar" class="team-budget">
            <div class="cards">
                <div class="card-img aviskar"></div>
                <h2 class="title">AVISHKAR</h2>
                <p class="quotes">"Life expectancy would grow by leaps and bounds if green vegetables smelled as good as
                    bacon."</p>
                <!-- <a href="vege.html" class="a" target="_blank">EXPLORE</a> -->
            </div>
        </a>
        <a href="/abhiyuday" class="team-budget">
            <div class="cards">
                <div class="card-img abhiyuday"></div>
                <h2 class="title">ABHIYUDAY</h2>
                <p class="quotes">"Life expectancy would grow by leaps and bounds if green vegetables smelled as good as
                    bacon."</p>
                <!-- <a href="vege.html" class="a" target="_blank">EXPLORE</a> -->
            </div>
        </a>
        <a href="" class="team-budget">
            <div class="cards">
                <div class="card-img shaastra"></div>
                <h2 class="title">VEGETABLES</h2>
                <p class="quotes">"Life expectancy would grow by leaps and bounds if green vegetables smelled as good as
                    bacon."</p>
                <!-- <a href="vege.html" class="a" target="_blank">EXPLORE</a> -->
            </div>
        </a>
        <a href="" class="team-budget">
            <div class="cards">
                <div class="card-img sarang"></div>
                <h2 class="title">SARANG</h2>
                <p class="quotes">"Life expectancy would grow by leaps and bounds if green vegetables smelled as good as
                    bacon."</p>
                <!-- <a href="vege.html" class="a" target="_blank">EXPLORE</a> -->
            </div>
        </a>
        <a href="" class="team-budget">
            <div class="cards">
                <div class="card-img cfi"></div>
                <h2 class="title">CFI</h2>
                <p class="quotes">"Life expectancy would grow by leaps and bounds if green vegetables smelled as good as
                    bacon."</p>
                <!-- <a href="vege.html" class="a" target="_blank">EXPLORE</a> -->
            </div>
        </a>
        <a href="" class="team-budget">
            <div class="cards">
                <div class="card-img techsoc"></div>
                <h2 class="title">TECHSOC</h2>
                <p class="quotes">"Life expectancy would grow by leaps and bounds if green vegetables smelled as good as
                    bacon."</p>
                <!-- <a href="vege.html" class="a" target="_blank">EXPLORE</a> -->
            </div>
        </a>
    </section>
</body>

</html>